arctic==1.79.4
celery==5.0.5
chartpy==0.1.8
dash==2.7.1
dash_bootstrap_components==0.12.0
dash_core_components==2.0.0
dash_html_components==2.0.0
dash_table==5.0.0
dask==2023.1.0
findatapy==0.1.19
Flask==2.0.3
flask_restplus==0.13.0
influxdb==5.2.3
Jinja2==3.1.2
multiprocess==0.70.14
numba==0.56.4
numpy==1.23.5
pandas==1.5.3
pathos==0.3.0
pdfkit==0.6.1
plotly==5.13.0
pymongo==4.3.3
PyStore==0.1.23
pytest==7.2.1
python_dateutil==2.8.2
pytz==2022.7.1
qPython==2.0.0
redis==4.4.2
requests==2.22.0
scipy==1.10.0
setuptools==65.6.3
six==1.16.0
SQLAlchemy==1.4.46
statsmodels==0.13.5
vaex==4.16.0
vaex_viz==0.5.4
WeasyPrint==51
Werkzeug==2.2.2
xlwings==0.28.9
